<div class="container mt-3">
    <div class="mt-4 p-5 bg-primary text-white rounded">
    
{{> formprod}}
{{> todos}}

</div>
</div>
<div class="container mt-3">
    <div class="mt-4 p-5 bg-primary text-white rounded">
{{> fcarrito}}
{{> todocarrito}}

</div>
</div>
       
